interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.schwabapi.com/marketdata/v1/quotes?fields=all&indicative=False&symbols=AAPL
  response:
    body:
      string: '{"AAPL":{"assetMainType":"EQUITY","assetSubType":"COE","quoteType":"NBBO","realtime":true,"ssid":1973757747,"symbol":"AAPL","extended":{"askPrice":0.0,"askSize":0,"bidPrice":0.0,"bidSize":0,"lastPrice":308.72,"lastSize":2,"mark":0.0,"quoteTime":0,"totalVolume":0,"tradeTime":1780905565000},"fundamental":{"avg10DaysVolume":5.1474977E7,"avg1YearVolume":5.2147402E7,"declarationDate":"2026-04-30T00:00:00Z","divAmount":1.08,"divExDate":"2026-05-11T00:00:00Z","divFreq":4,"divPayAmount":0.27,"divPayDate":"2026-05-14T00:00:00Z","divYield":0.3514,"eps":7.46,"fundLeverageFactor":0.0,"lastEarningsDate":"2026-04-30T00:00:00Z","nextDivExDate":"2026-08-11T00:00:00Z","nextDivPayDate":"2026-08-14T00:00:00Z","peRatio":37.25762,"sharesOutstanding":14687356000},"quote":{"52WeekHigh":316.94,"52WeekLow":195.07,"askMICId":"ARCX","askPrice":312.99,"askSize":40,"askTime":1780936971889,"bidMICId":"IEGX","bidPrice":312.97,"bidSize":80,"bidTime":1780936971890,"closePrice":307.34,"highPrice":315.36,"lastMICId":"XBOS","lastPrice":312.99,"lastSize":40,"lowPrice":308.522,"mark":312.99,"markChange":5.65,"markPercentChange":1.83835492,"netChange":5.65,"netPercentChange":1.83835492,"openPrice":308.739,"postMarketChange":0.0,"postMarketPercentChange":0.0,"quoteTime":1780936971890,"securityStatus":"Normal","totalVolume":22321185,"tradeTime":1780936971769},"reference":{"cusip":"037833100","description":"APPLE
        INC","exchange":"Q","exchangeName":"NASDAQ","isHardToBorrow":false,"isShortable":true,"htbQuantity":36208198,"htbRate":0.0,"optionable":true},"regular":{"regularMarketLastPrice":312.99,"regularMarketLastSize":40,"regularMarketNetChange":5.65,"regularMarketPercentChange":1.83835492,"regularMarketTradeTime":1780936971769}}}'
    headers:
      Content-Type:
      - application/json
      schwab-client-correlid:
      - 2f18eb4b-40d5-9ab0-6979-fae2413e8288
      schwab-resource-version:
      - '1'
    status:
      code: 200
      message: OK
version: 1
