interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.schwabapi.com/trader/v1/accounts/<account>/orders?fromEnteredTime=2026-04-17T06%3A52%3A44.000Z&maxResults=200&status=FILLED&toEnteredTime=2026-05-17T06%3A52%3A44.000Z
  response:
    body:
      string: '[{"session":"NORMAL","duration":"GOOD_TILL_CANCEL","orderType":"LIMIT","<REDACTED>":"NONE","quantity":18.0,"filledQuantity":18.0,"remainingQuantity":0.0,"requestedDestination":"AUTO","destinationLinkName":"NITE","price":12.75,"orderLegCollection":[{"orderLegType":"EQUITY","legId":1,"instrument":{"assetType":"EQUITY","cusip":"53626N102","symbol":"LION","instrumentId":234814458},"instruction":"BUY","positionEffect":"OPENING","quantity":18.0}],"orderStrategyType":"SINGLE","orderId":1006387238791,"cancelable":false,"editable":false,"status":"FILLED","enteredTime":"2026-05-15T18:55:46+0000","closeTime":"2026-05-15T18:55:46+0000","tag":"API_TOS:ANDROID","accountNumber":27097300,"orderActivityCollection":[{"activityType":"EXECUTION","activityId":119345907401,"executionType":"FILL","quantity":18.0,"orderRemainingQuantity":0.0,"executionLegs":[{"legId":1,"quantity":18.0,"mismarkedQuantity":0.0,"price":12.6999,"time":"2026-05-15T18:55:46+0000","instrumentId":234814458}]}]},{"session":"NORMAL","duration":"DAY","orderType":"LIMIT","<REDACTED>":"NONE","quantity":9.0,"filledQuantity":9.0,"remainingQuantity":0.0,"requestedDestination":"AUTO","destinationLinkName":"JNST","price":8.58,"orderLegCollection":[{"orderLegType":"EQUITY","legId":1,"instrument":{"assetType":"EQUITY","cusip":"25525P107","symbol":"DHC","instrumentId":125641054},"instruction":"SELL","positionEffect":"CLOSING","quantity":9.0}],"orderStrategyTy[...]
