{% extends "base.html.j2" %}
{% block content %}
  <h1>Watchlist</h1>
  <table class="watchlist">
    <thead><tr>
      <th></th><th>Ticker</th><th>Last</th><th>Pivot</th><th>% to pivot</th><th>ADR</th><th>Tags</th>
    </tr></thead>
    <tbody>
      {% for w in vm.rows %}
        {% set price = vm.watchlist_last_prices.get(w.ticker) %}
        {% set tags = vm.flag_tags.get(w.ticker, ()) %}
        {% set pattern_tag = vm.pattern_tags.get(w.ticker) %}
        {% set cohort_hint = vm.cohort_hints.get(w.ticker) %}
        {% set current_pivot = vm.candidates_by_ticker[w.ticker].pivot if w.ticker in vm.candidates_by_ticker else None %}
        {# Phase 13 T-T4.SB.5 Item 6 Option 6B: explicit param pass. #}
        {% set chart_svg_bytes_for_row = vm.watchlist_chart_svg_bytes.get(w.ticker) if vm.watchlist_chart_svg_bytes else None %}
        {% include "partials/watchlist_row.html.j2" %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
